<header>
	<div class="topbar d-flex align-items-center">
		<nav class="navbar navbar-expand">
			<div class="mobile-toggle-menu">
				<i (click)="toggleSidebar()" class='bx bx-menu'></i>
			</div>

			<!-- Logo visible solo para Mesero, Chef y Cajero -->
			<div *ngIf="isMesero() || isChef() || isCajero()" class="navbar-logo-container">
				<img src="../../../assets/images2/logo.png" alt="navbar logo" class="navbar-logo"
					style="width: 170px; height: auto; margin-left: 850px;">
			</div>

			<div class="top-menu ms-auto">
				<ul class="navbar-nav align-items-center">
					<!-- Ícono de búsqueda móvil -->
					<li class="nav-item mobile-search-icon">
						<a class="nav-link" href="#" (click)="$event.preventDefault()"><i class='bx bx-search'></i></a>
					</li>

					<li *ngIf="isAdmin()" class="nav-item dropdown dropdown-large">
						<a class="nav-link dropdown-toggle dropdown-toggle-nocaret position-relative" href="#"
							role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span class="alert-count">{{ alertasInventario.length }}</span><i class='bx bx-bell'></i>
						</a>
						<div class="dropdown-menu dropdown-menu-end">
							<div class="title-container text-center">
								<p class="custom-title">Notifications</p>
							</div>
							<div class="card-body">
								<ng-container *ngIf="alertasInventario.length > 0; else noAlerts">
									<div *ngFor="let alerta of alertasInventario" class="notification-item">
										<p><strong>Ingrediente:</strong> {{ alerta.nombre }}</p>
										<p><strong>Cantidad disponible:</strong> {{ alerta.cantidad }}</p>
										<p *ngIf="alerta.isExpiringSoon"><strong>Fecha de vencimiento:</strong> {{
											alerta.fechaVencimiento | date }}</p>
										<hr>
									</div>
								</ng-container>
								<ng-template #noAlerts>
									<p class="text-center">No hay alertas</p>
								</ng-template>
							</div>
							<a href="#" (click)="$event.preventDefault()">
								<div class="text-center msg-footer">View All Notifications</div>
							</a>
						</div>
					</li>


				</ul>
			</div>

			<!-- Información del usuario -->
			<div class="user-box dropdown">
				<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#"
					role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="bx bx-user user-icon"></i>
					<div class="user-info ps-3">
						<p class="user-name mb-0">{{ usuario?.nombre_completo || 'Invitado' }}</p>
					</div>
				</a>

				<br>

				<ul [ngClass]="getDropdownMenuClass()" class="dropdown-menu dropdown-menu-end">
					<!-- Mostrar la opción "Graficas" solo para admin -->
					<li *ngIf="isAdmin()"><a class="dropdown-item" routerLink="dashboard/Predicciones"><i class="bx bx-user"></i><span>Graficas</span></a></li>
					<li *ngIf="isAdmin()">
						<div class="dropdown-divider mb-0"></div>
					</li>
					<li><a class="dropdown-item" href="#" (click)="logout()"><i class='bx bx-log-out-circle'></i><span>Logout</span></a></li>
				</ul>
				


			</div>


		</nav>
	</div>
</header>