<div class="title-container text-center mb-4">
    <div class="custom-title">
        <span>Editar Ingredientes</span>
    </div>
</div>

<hr class="my-4" style="border-top: 2px solid #055ab4;" />

<div class="card shadow-sm">
    <div class="card-body">
        <form [formGroup]="ingredientes" (ngSubmit)="save()">

            <div class="mb-4">
                <label class="form-label fw-bold" for="nombre">
                    <i class="bi bi-clipboard"></i> Nombre:
                </label>

                <input type="text" class="form-control" formControlName="nombre" id="nombre"
                    placeholder="Ingrese el nombre del ingrediente">

                <!-- Mensajes de error de validación -->
                <div *ngIf="ingredientes.get('nombre').hasError('required') && ingredientes.get('nombre').touched"
                    class="text-danger mt-1">
                    <i class="bi bi-exclamation-circle-fill"></i> El campo es obligatorio. Por favor, ingrese un nombre.
                </div>

                <div *ngIf="ingredientes.get('nombre').hasError('pattern') && ingredientes.get('nombre').touched"
                    class="text-danger mt-1">
                    <i class="bi bi-exclamation-circle-fill"></i> El nombre solo puede contener letras.
                </div>
            </div>

            <div class="mb-4">
                <label class="form-label fw-bold" for="unidad">
                    <i class="bi bi-box-seam"></i> Unidad:
                </label>

                <input type="number" class="form-control" formControlName="unidad" id="unidad"
                    placeholder="Ingrese la unidad del ingrediente">

                <div *ngIf="ingredientes.get('unidad').hasError('required') && ingredientes.get('unidad').touched"
                    class="text-danger mt-1">
                    <i class="bi bi-exclamation-circle-fill"></i> El campo es obligatorio. Por favor, ingrese una
                    unidad.
                </div>

                <div *ngIf="ingredientes.get('unidad').hasError('pattern') && ingredientes.get('unidad').touched"
                    class="text-danger mt-1">
                    <i class="bi bi-exclamation-circle-fill"></i> El valor solo puede contener números.
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button [disabled]="ingredientes.invalid || isSaving" type="submit" class="btn2">
                    <i class="bi bi-check-circle-fill"></i>
                    <span>Actualizar</span>
                </button>

                <a routerLink="/dashboard/ingredientes" class="btn2">
                    <i class="bi bi-check-circle-fill"></i>
                    <span>Ver Ingredientes</span>
                </a>

            </div>
        </form>
    </div>
</div>