<div class="title-container text-center mb-4">
    <div class="custom-title">
        <span>Actualizar Plato Ingredientes</span>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <form [formGroup]="platoFormGroup" (ngSubmit)="save()" novalidate>
            <!-- Campo de selección de plato -->
            <div class="mb-4">
                <label class="form-label" for="plato">
                    <i class="bi bi-egg-fried"></i> Plato:
                </label>
                <select class="form-control" formControlName="nombre_plato" id="plato" disabled>
                    <option value="">Seleccione un plato</option>
                    <option *ngFor="let plato of platos" [value]="plato.nombre">{{ plato.nombre }}</option>
                </select>

                <div *ngIf="platoFormGroup.get('nombre_plato')?.invalid && platoFormGroup.get('nombre_plato')?.touched"
                    class="text-danger mt-1">
                    <i class="bi bi-exclamation-circle-fill"></i> Selecciona un plato válido.
                </div>
            </div>

            <div class="mb-4">
                <label class="form-label fw-bold">Ingredientes:</label>
                <div class="row">
                    <div class="col-6 col-md-5 mb-2"
                        *ngFor="let ingrediente of $any(platoFormGroup.get('ingredientes')).controls; let i = index">
                        <div class="form-check d-flex align-items-center">
                            <input type="checkbox" class="form-check-input me-2"
                                [checked]="platoFormGroup.get('ingredientes').at(i)?.get('isSelected').value"
                                (change)="ingrediente.get('isSelected').setValue($event.target.checked)"
                                id="ingrediente-{{ ingrediente.get('id').value }}" />

                            <label class="form-check-label me-2" for="ingrediente-{{ ingrediente.get('id').value }}">
                                <i class="bi bi-basket"></i> {{ ingrediente.get('nombre').value }}
                            </label>
                            <input type="number" class="form-control w-50"
                                [formControl]="platoFormGroup.get('ingredientes').at(i).get('cantidad')" min="0"
                                placeholder="Cantidad" />
                        </div>
                        <div *ngIf="ingrediente.get('cantidad')?.invalid && 
                                     platoFormGroup.get('ingredientes').at(i).get('cantidad')?.touched"
                            class="text-danger mt-1">
                            <i class="bi bi-exclamation-circle-fill"></i> La cantidad es obligatoria.
                        </div>
                    </div>
                </div>
            </div>

            <!-- Botones de acción -->
            <div class="d-flex justify-content-between">
                <button [disabled]="platoFormGroup.invalid" type="submit" class="btn2">
                    <i class="bi bi-check-circle-fill"></i>
                    <span>Actualizar</span>
                </button>
                <a routerLink="/dashboard/platos-ingredientes" class="btn2">
                    <i class="bi bi-arrow-left-circle-fill"></i>
                    <span>Ver Platos Ingredientes</span>
                </a>
            </div>
        </form>
    </div>
</div>