<div class="title-container text-center mb-4">
    <div class="custom-title">
        <span>Gestión de Pedidos por Mesas</span>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body d-flex">
        <!-- Formulario a la izquierda -->
        <div class="w-50 pe-3">
            <div class="p-3 border rounded bg-light"> <!-- Contenedor interno para el formulario -->
                <form [formGroup]="pedidospormesas" (ngSubmit)="addToVisualizar()" novalidate>


                    <input type="hidden" formControlName="id_mesa">

                    <!-- Selección de categoría -->
                    <div class="mb-4">
                        <label class="form-label fw-bold" for="categoria">
                            <i class="bi bi-box"></i> Categoría Platos:
                        </label>
                        <select id="categoria" formControlName="id_categoria" class="form-control"
                            [class.is-invalid]="pedidospormesas.get('id_categoria')?.invalid && pedidospormesas.get('id_categoria')?.touched"
                            (change)="onCategoriaChange($event)">
                            <option value="">Seleccione una categoría de plato</option>
                            <option *ngFor="let categoria of categorias" [value]="categoria.id">
                                {{ categoria.nombre_categoria }}
                            </option>
                        </select>
                        <div *ngIf="pedidospormesas.get('id_categoria')?.invalid && pedidospormesas.get('id_categoria')?.touched"
                            class="text-danger mt-1">
                            <i class="bi bi-exclamation-circle-fill"></i> Seleccione una categoría.
                        </div>
                    </div>

                    <!-- Selección de plato -->
                    <div class="mb-4" *ngIf="pedidospormesas.get('id_categoria').value">
                        <label class="form-label" for="plato">
                            <i class="bi bi-egg-fried"></i> Plato:
                        </label>
                        <select class="form-control" formControlName="id_plato" id="plato"
                            [class.is-invalid]="pedidospormesas.get('id_plato').invalid && pedidospormesas.get('id_plato').touched"
                            (change)="onPlatoChange($event)">
                            <option value="">Seleccione un plato</option>
                            <option *ngFor="let plato of platos" [value]="plato.id">
                                {{ plato.nombre }}
                            </option>
                        </select>
                        <div *ngIf="pedidospormesas.get('id_plato').invalid && pedidospormesas.get('id_plato').touched"
                            class="text-danger mt-1">
                            <i class="bi bi-exclamation-circle-fill"></i> Selecciona un plato válido.
                        </div>
                    </div>



                    <!-- Listar ingredientes -->
                    <div class="mb-4" *ngIf="ingredientes.length > 0">
                        <i class="bi bi-egg"></i> Ingredientes:
                        <div class="ingredientes-grid">
                            <div *ngFor="let ingrediente of ingredientes" class="form-check form-switch">
                                <!-- Vinculamos el checkbox al valor de 'marcado' -->
                                <input class="form-check-input" type="checkbox" [checked]="ingrediente.marcado"
                                    (change)="onIngredientChange($event, ingrediente)">
                                <label class="form-check-label">
                                    {{ ingrediente.ingredientes_model.nombre }}
                                </label>
                            </div>
                        </div>
                    </div>






                    <!-- Cantidad -->
                    <div class="mb-4">
                        <label for="cantidad" class="form-label">Cantidad:</label>
                        <input type="number" id="cantidad" class="form-control" formControlName="cantidad" required>
                        <div *ngIf="pedidospormesas.get('cantidad')?.invalid && (pedidospormesas.get('cantidad')?.touched || isSubmitted)"
                            class="text-danger">
                            Cantidad es requerida y debe ser un número.
                        </div>
                    </div>

                    <!-- Comentarios -->
                    <div class="mb-4">
                        <label for="comentarios" class="form-label">Comentarios:</label>
                        <textarea id="comentarios" class="form-control" formControlName="comentarios"
                            placeholder="Escribe tus comentarios aquí..." required></textarea>
                        <div *ngIf="pedidospormesas.get('comentarios')?.invalid && (pedidospormesas.get('comentarios')?.touched || isSubmitted)"
                            class="text-danger">
                            Este campo es obligatorio.
                        </div>
                    </div>

                    <button type="submit" class="btn2">
                        <i class="bi bi-check-circle-fill"></i>
                        <span>Enviar</span>
                    </button>


                </form>
            </div>
        </div>

        <!-- Visualizar Items a la derecha -->
        <div class="w-50 ps-3">
            <div class="p-3 border rounded bg-light"> <!-- Contenedor interno para la visualización -->
                <form [formGroup]="pedidospormesas" (ngSubmit)="save()" novalidate>
                    <h5>Visualizar Items:</h5>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Plato</th>
                                    <th>Comentarios</th>
                                    <th>Cantidad</th>
                                    <th>Limpiar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of visualizarItems; let i = index">
                                    <td>{{ item.plato }}</td>
                                    <td>{{ item.comentarios }}</td>
                                    <td>{{ item.cantidad }}</td>
                                    <td>
                                        <button (click)="eliminarItem(i)" class="btn btn-link"
                                            [disabled]="item.isConfirmed">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <button type="submit" class="btn2">
                        <i class="bi bi-arrow-left-circle-fill"></i>
                        <span>Confirmar</span>
                    </button>

                </form>
            </div>
        </div>

    </div>
</div>