<div class="title-container text-center mb-4">
    <div class="custom-title">
        <span>Editar Categoría Inventario</span>
    </div>
</div>


<div class="card shadow-sm">
    <div class="card-body">
        <form [formGroup]="catplato" (ngSubmit)="save()">
            <div class="mb-4">
                <label class="form-label fw-bold" for="nombre_categoria">
                    <i class="bi bi-clipboard"></i> Nombre:
                </label>
                <input type="text" class="form-control" formControlName="nombre_categoria" id="nombre_categoria"
                    placeholder="Ingrese el nombre de la categoría" required>

                <!-- Mensajes de error de validación -->
                <div *ngIf="catplato.get('nombre_categoria').hasError('required') && catplato.get('nombre_categoria').touched"
                    class="text-danger mt-1">
                    <i class="bi bi-exclamation-circle-fill"></i> El campo es obligatorio. Por favor, ingrese un nombre.
                </div>

                <div *ngIf="catplato.get('nombre_categoria').hasError('minlength') && catplato.get('nombre_categoria').touched"
                    class="text-danger mt-1">
                    <i class="bi bi-exclamation-circle-fill"></i> El nombre debe tener al menos 4 caracteres.
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="estado">Estado:</label>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" formControlName="estado" id="estado">
                    <label class="form-check-label" for="estado">
                        {{ catplato.get('estado').value ? 'Desactivar' : 'Activar' }} Categoría
                    </label>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button [disabled]="catplato.invalid" type="submit" class="btn2">
                    <i class="bi bi-check-circle-fill"></i>
                    <span>Actualizar</span>
                </button>

                <a routerLink="/dashboard/categorias-platos" class="btn2">
                    <i class="bi bi-arrow-left-circle-fill"></i>
                    <span>Ver Categorías Inventario</span>
                </a>
            </div>
        </form>
    </div>
</div>

