body {
    background-color: #24283e;
    overflow-x: hidden;
    overflow-y: hidden;
}

ul.menu {
    list-style: none;
    padding: 0;
    background-color: #9696964a;
}

ul.menu li {
    display: inline-block;
    position: relative;
}

ul.menu li a {
    display: block;
    padding: 10px 20px;
    color: #ee9191;
    text-decoration: none;
}

ul.menu li:hover a {
    color: #f34343;
}

ul.menu li ul {
    display: none;
    position: absolute;
    background-color: #555;
}

ul.menu li:hover ul {
    display: block;
}

ul.menu li ul li {
    display: block;
}

ul.menu li ul li a {
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}

ul.menu li ul li:hover a {
    background-color: #dc1212;
}

.icon-link {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icon-link i {
    color: #ee9191;
    margin-right: 5px;
    transition: color 0.2s;
}

.custom-icon {
    font-size: 1.3rem;
}


.icon-link:hover i {
    color: #f34343;
}

.image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Mantiene el contenedor a la altura de la ventana */
    padding: 10px;
    width: 100%; /* Asegura que el contenedor sea 100% ancho */
    overflow: hidden; /* Evita que las imágenes se desborden del contenedor */
}

.image-container img {
    transition: transform 0.3s, box-shadow 0.3s, opacity 0.3s, position 0.3s;
    max-height: 100%;
    width: auto;
    position: relative;
}

.image-container img.effect-2 {
    position: absolute;
    right: -1%;
    top: 40%;
    width: 20%;
}

.image-container img.effect-3 {

    position: absolute;
    left: 50%;
    top: 1%;
    transform: translateX(-50%) scale(100%);
    width: 16.5%;
}

.image-container img.effect-4 {
    position: absolute;
    left: -1%;
    top: 4%;
    transform: rotate(-35deg);
    width: 18%;
}

.image-container img.effect-5 {
    position: absolute;
    right: 19.7%;
    top: -3%;
    transform: rotate(18deg) scaleX(-1);
    width: 20%;
}

.image-container img.effect-6 {
    position: absolute;
    left: 19.3%;
    top: -3%;
    transform: rotate(18deg) scaleX(-1);
    width: 20%;
}

.image-container img.effect-7 {
    position: absolute;
    right: -1.4%;
    top: 4%;
    transform: rotate(-8deg);
    width: 18%;
}


.image-container img.effect-8 {
    position: absolute;
    right: 55%;
    top: -10px;
    width: 8%;
    animation: tambalear2 1s infinite ease-out forwards;
}

.image-container img.effect-9 {
    position: absolute;
    left: 54%;
    top: -10px;
    width: 8.6%;
    animation: tambalear2 1s infinite ease-out forwards;
}

@keyframes tambalear2 {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.image-container img.effect-10 {
    position: absolute;
    right: 15.5%;
    top: 9px;
    width: 5%;
    animation: tambalear 1s infinite ease-out forwards;
}

.image-container img.effect-11 {
    position: absolute;
    left: 15.5%;
    top: 9px;
    width: 5%;
    animation: tambalear 1s infinite ease-out forwards;
}

@keyframes tambalear {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    25% {
        transform: translateX(3px) rotate(5deg);
    }

    50% {
        transform: translateX(-3px) rotate(-5deg);
    }

    75% {
        transform: translateX(3px) rotate(5deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

.image-container img.effect-12 {
    position: absolute;
    bottom: 10px;
    left: 5%;
    top: 36%;
    width: 15%;
}

.claseA {
    animation: animar 1s ease-out forwards;
    width: 10vw; /* Cambia a un porcentaje del ancho de la ventana */
    height: auto; /* Mantiene la relación de aspecto */
    max-width: 100%; /* Asegura que no exceda el ancho del contenedor */
    max-height: 100%; /* Asegura que no exceda la altura del contenedor */
    transition: all 0.5s ease; /* Transición suave para todos los cambios */
    object-fit: contain; /* Asegura que la imagen se ajuste dentro de su contenedor */
}



@keyframes animar {
    0% {
        transform: scale(0, 0) translateX(0px) translateY(0);
    }

    100% {
        transform: scale(1, 1) translateX(5%) translateY(5%);
    }
}



.puntero {
    position: absolute;
    width: 50px;
    /* Ajusta el tamaño de la imagen */
    height: 50px;
    /* Ajusta el tamaño de la imagen */
    background-image: url('/assets/images2/flores.png');
    background-size: cover;
    display: none;
    /* Oculta el puntero por defecto */
    pointer-events: none;
    /* Evita que el puntero personalizado interfiera con elementos */
    animation: girar 2.5s infinite linear;
}


@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}