
<body>
    <ul class="menu">
        <li>
            <a href="../auth/sign-in/" class="icon-link">
                <i class="bi bi-person-circle custom-icon"></i>
                Ingresar
            </a>
        </li>
    </ul>

    <div class="image-container">
        <img src="../../assets/images2/logo.png" alt="Imagen 1" class="claseA">
        <img src="../../assets/images2/catrina.png" alt="Imagen 2" class="effect-2">
        <img src="../../assets/images2/VivaM-removebg-preview.png" alt="Imagen 3" class="effect-3">
        <img src="../../assets/images2/VD-removebg-preview.png" alt="Imagen 4" class="effect-4">
        <img src="../../assets/images2/VD-removebg-preview.png" alt="Imagen 5" class="effect-5">
        <img src="../../assets/images2/VD-removebg-preview.png" alt="Imagen 6" class="effect-6">
        <img src="../../assets/images2/VD-removebg-preview.png" alt="Imagen 7" class="effect-7">
        <img src="../../assets/images2/Calavera1.png" alt="Imagen 8" class="effect-8">
        <img src="../../assets/images2/Calavera2.png" alt="Imagen 9" class="effect-9">
        <img src="../../assets/images2/calabera-removebg-preview.png" alt="Imagen 10" class="effect-10">
        <img src="../../assets/images2/calabera-removebg-preview.png" alt="Imagen 11" class="effect-11">
        <img src="../../assets/images2/Mariachis.png" alt="Imagen 13" class="effect-12">
    </div>

    <div class="conte-padre">
        <div class="conte-btn">
            <button class="btn">Start</button>
        </div>
        <div class="puntero"></div>
    </div>
</body>