<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Acceso</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body>
    <div class="main-container">
        <img src="../../../assets/images2/tasty7.png" alt="Logo" class="logo2">
        <div class="card shadow-lg">
            <div class="card-body">
                <form [formGroup]="signInForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <h5>Acceso</h5>
                        <hr>
                        <label for="correo" class="form-label">Correo:</label>
                        <input type="text" id="correo" formControlName="correo" class="form-control" required>
                        <div
                            *ngIf="signInForm.get('correo')?.invalid && (signInForm.get('correo')?.touched || signInForm.get('correo')?.dirty)">
                            <small *ngIf="signInForm.get('correo')?.errors?.required" class="text-danger">El correo es
                                requerido.</small>
                            <small *ngIf="signInForm.get('correo')?.errors?.email" class="text-danger">El formato del
                                correo es incorrecto.</small>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="pass" class="form-label">Contraseña:</label>
                        <div class="password-container position-relative">
                            <input [type]="isPasswordVisible ? 'text' : 'password'" id="pass" formControlName="contrasena"
                                class="form-control" required>
                            <i (click)="togglePasswordVisibility()"
                                [ngClass]="isPasswordVisible ? 'fa-solid fa-eye' : 'fa-solid fa-eye-slash'"
                                class="position-absolute end-0 top-50 translate-middle-y me-2" style="cursor: pointer;"></i>
                            <div
                                *ngIf="signInForm.get('contrasena')?.invalid && (signInForm.get('contrasena')?.touched || signInForm.get('contrasena')?.dirty)">
                                <small *ngIf="signInForm.get('contrasena')?.errors?.required" class="text-danger">La
                                    contraseña es requerida.</small>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" [disabled]="signInForm.invalid" class="btn2 btn-2">
                            Acceder
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>
