<div class="title-container text-center mb-4">
    <div class="custom-title">
        <span>Parrilla</span>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <!-- Contenedor de los pedidos -->
        <div class="table-responsive">
            <div class="mesas-container">
                <div *ngFor="let pedido of pedidos" class="mesa-item text-center">
                    <a href="javascript:void(0);" (click)="verComanda(pedido.id)" class="mesa-link">
                        <img src="../../../assets/mesas/mesa-redonda.jpg" alt="Pedido activo" class="mesa-icon mb-2" />
                        <hr>
                        <label>{{ mesas[pedido.id_mesa] || 'No disponible' }}</label>
                        <div class="tiempo-espera mt-2">
                            <small>🕒 {{ pedido.tiempoEspera }}</small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Mensaje cuando no hay pedidos disponibles -->
<ng-template #noData>
    <div class="text-center text-muted w-100">
        No hay pedidos disponibles.
    </div>
</ng-template>