<div class="title-container text-center mb-4">
    <div class="custom-title">
        <span>Crear Categoría para Platos</span>
    </div>
</div>

<div class="card shadow-sm">
    <div class="card-body">
        <form [formGroup]="catplatos" (ngSubmit)="save()" novalidate>
            
            <div class="mb-4">
                <label class="form-label fw-bold" for="nombre_categoria">
                    <i class="bi bi-tag"></i> Nombre:
                </label>
                <input type="text" class="form-control" formControlName="nombre_categoria" id="nombre_categoria" placeholder="Ingrese el nombre de la categoría">

                <div *ngIf="catplatos.get('nombre_categoria').hasError('required') && catplatos.get('nombre_categoria').touched" class="text-danger mt-1">
                    <i class="bi bi-exclamation-circle-fill"></i> El campo es obligatorio. Por favor, ingrese un nombre.
                </div>

                <div *ngIf="catplatos.get('nombre_categoria').hasError('pattern') && catplatos.get('nombre_categoria').touched" class="text-danger mt-1">
                    <i class="bi bi-exclamation-circle-fill"></i> El nombre solo puede contener letras y espacios.
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="estado">Estado:</label>
                <div class="form-check form-switch">
                    <input type="checkbox" class="form-check-input" formControlName="estado" id="estado">
                    <label class="form-check-label" for="estado">
                        {{ catplatos.get('estado').value ? 'Desactivar Categoria' : 'Activar Categoria' }}
                    </label>
                </div>
            </div>

            <div class="d-flex justify-content-between">
                <button [disabled]="catplatos.get('nombre_categoria').invalid || catplatos.get('nombre_categoria').value === ''" type="submit" class="btn2">
                    <i class="bi bi-check-circle-fill"></i>
                    <span>Guardar</span>
                </button>
                
                <a routerLink="/dashboard/categorias-platos" class="btn2">
                    <i class="bi bi-arrow-left-circle-fill"></i>
                    <span>Ver Categorías Platos</span>
                </a>
            </div>
        </form>
    </div>
</div>
