* {
    font-family: 'Merriweather', sans-serif;
}

.styled-sidebar-info {
    margin-top: 130px;
    background: #dcecffbc;
    color: #fff;
    padding: 30px 20px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); /* Sombra estándar */
    animation: float 6s ease-in-out infinite, glow 4s ease-in-out infinite alternate;
    position: relative;
    width: 80%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;

    /* Sombra con resplandor cambiante */
    &::before {
        content: "";
        position: absolute;
        top: -3px;
        left: -3px;
        right: -3px;
        bottom: -3px;
        border-radius: 25px;
       // border:3px solid #0e0e0e;
        box-shadow: #0e0e0e;
        box-shadow: 0 0 15px rgba(72, 191, 227, 0.6); /* Reducir la distancia de la sombra */
        z-index: -1;
        animation: glowColorChange 3s ease-in-out infinite alternate; /* Aumentar la velocidad de cambio */
    }

    .user-icon {
        font-size: 3rem;
        color: #ff9f1c;
        margin-bottom: 15px;
        animation: fadeIn 1s ease-in-out;
    }

    .sidebar-title {
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        margin-bottom: 10px;
        animation: fadeIn 1.2s ease-in-out;
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    }

    .sidebar-role {
        font-size: 1.1rem;
        margin-top: 10px;
        animation: fadeIn 1.5s ease-in-out;
        background: rgba(255, 255, 255, 0.18);
        padding: 10px;
        border-radius: 10px;
        display: inline-block;
        color: #0e0e0e;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
    }
}

.sidebar-header {
    background: linear-gradient(310deg, rgba(255, 255, 204, 0.9), rgba(188, 200, 255, 0.5)) !important;
    border: none;
}



/* Animación de entrada suave */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Animación de oscilación mejorada (float) */
@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

/* Animación del resplandor cambiante (glowColorChange) */
@keyframes glowColorChange {
    0% {
        box-shadow: 0 0 25px rgba(94, 96, 206, 0.6), 0 0 35px rgba(72, 191, 227, 0.6); /* Reducir la distancia y la opacidad de la sombra */
    }
    100% {
        box-shadow: 0 0 30px rgba(72, 191, 227, 0.8), 0 0 40px rgba(100, 223, 223, 0.8); /* Mantener el efecto cambiante pero con una menor distancia */
    }
}

.nav-collapsed {
    .sidebar {
        width: 60px; // Ajusta el ancho del sidebar colapsado según lo necesites
    }

    .sidebar-content {
        display: none; // Ocultar contenido del sidebar
    }
}

.role-gradient {
    background: linear-gradient(135deg, rgba(255, 255, 204, 0.9), rgba(188, 200, 255, 0.9));
}
